<a href="https://colab.research.google.com/github/Dimad82/Healthy_Lyfestyle/blob/main/Healthy_Lifestyle_(2021).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The dataset shows the ranking of cities based on their lifestyle health and insights on various influencing factors

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random

In [ ]:
#Imports Kaggle for reading directly the dataset
import kagglehub

#Downloads the dataset
path = kagglehub.dataset_download("tan5577/healthy-life-style-dataset2025")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/tan5577/healthy-life-style-dataset2025?dataset_version_number=1...

100%|██████████| 1.89k/1.89k [00:00<00:00, 3.98MB/s]

Extracting files...
Path to dataset files: /root/.cache/kagglehub/datasets/tan5577/healthy-life-style-dataset2025/versions/1

In [ ]:
#Reads csv file and converting to Dataframe
df = pd.read_csv(path + "/Healthy-Lifestyle (2021).csv")

In [ ]:
#Shows general information about dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 12 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   City                                     44 non-null     object
 1   Rank                                     44 non-null     int64
 2   Sunshine hours (City)                    43 non-null     float64
 3   Cost of a bottle of water (City)         44 non-null     object
 4   Obesity levels (Country)                 44 non-null     object
 5   Life expectancy (years)  (Country)       44 non-null     float64
 6   Pollution (Index score)  (City)          44 non-null     object
 7   Annual avg. hours worked                 43 non-null     object
 8   Outdoor activities (City)                44 non-null     int64
 9   Number of take out places (City)         44 non-null     int64
 10  Cost of a monthly gym membership (City)  44 non-null     object
 11  Happiness levels (Country)               44 non-null     float64
dtypes: float64(3), int64(3), object(6)
memory usage: 4.3+ KB

In [ ]:
df.describe()

,Rank,Sunshine hours (City),Life expectancy (years) (Country),Outdoor activities (City),Number of take out places (City),Happiness levels (Country)
count,44.000000,43.000000,44.00000,44.000000,44.000000,44.000000
mean,22.500000,2245.860465,78.17500,213.977273,1443.113636,6.435000
std,12.845233,567.403719,5.30437,127.190297,1388.803270,0.991202
min,1.000000,1405.000000,56.30000,23.000000,250.000000,3.570000
25%,11.750000,1798.500000,75.40000,125.250000,548.000000,5.870000
50%,22.500000,2066.000000,80.40000,189.500000,998.000000,6.900000
75%,33.250000,2629.000000,81.80000,288.250000,1674.250000,7.175000
max,44.000000,3542.000000,83.20000,585.000000,6417.000000,7.800000

In [ ]:
#Check for missing values
print("\nMissing values in the dataset:")
df.isnull().sum()

Missing values in the dataset:

City                                       0
Rank                                       0
Sunshine hours (City)                      1
Cost of a bottle of water (City)           0
Obesity levels (Country)                   0
Life expectancy (years)  (Country)         0
Pollution (Index score)  (City)            0
Annual avg. hours worked                   1
Outdoor activities (City)                  0
Number of take out places (City)           0
Cost of a monthly gym membership (City)    0
Happiness levels (Country)                 0
dtype: int64

In [ ]:
#Deleting missing values
df.dropna(inplace=True)

In [ ]:
df = df.drop_duplicates()

In [ ]:
#Printing the columns
print(df.columns)

Index(['City', 'Rank', 'Sunshine hours (City)',
       'Cost of a bottle of water (City)', 'Obesity levels (Country)',
       'Life expectancy (years)  (Country)', 'Pollution (Index score)  (City)',
       'Annual avg. hours worked', 'Outdoor activities (City)',
       'Number of take out places (City)',
       'Cost of a monthly gym membership (City)',
       'Happiness levels (Country)'],
      dtype='object')

In [ ]:
df[df.duplicated()]

Empty DataFrame
Columns: [City, Rank, Sunshine hours (City), Cost of a bottle of water (City), Obesity levels (Country), Life expectancy (years)  (Country), Pollution (Index score)  (City), Annual avg. hours worked, Outdoor activities (City), Number of take out places (City), Cost of a monthly gym membership (City), Happiness levels (Country)]
Index: []

In [ ]:
df.columns = ['city','rank','sun_hours','water_bottle_price','obesity','life_expectation','pollution','yearly_working_hours','happiness_level','outdoor_activities','number_of_takeout_places','gym_cost']

In [ ]:
#Printing all database
df

,city,rank,sun_hours,water_bottle_price,obesity,life_expectation,pollution,yearly_working_hours,happiness_level,outdoor_activities,number_of_takeout_places,gym_cost
0,Amsterdam,1,1858.0,£1.92,20.40%,81.2,30.93,1434,422,1048,£34.90,7.44
1,Sydney,2,2636.0,£1.48,29.00%,82.1,26.86,1712,406,1103,£41.66,7.22
2,Vienna,3,1884.0,£1.94,20.10%,81.0,17.33,1501,132,1008,£25.74,7.29
3,Stockholm,4,1821.0,£1.72,20.60%,81.8,19.63,1452,129,598,£37.31,7.35
4,Copenhagen,5,1630.0,£2.19,19.70%,79.8,21.24,1380,154,523,£32.53,7.64
5,Helsinki,6,1662.0,£1.60,22.20%,80.4,13.08,1540,113,309,£35.23,7.80
6,Fukuoka,7,2769.0,£0.78,4.30%,83.2,-,1644,35,539,£55.87,5.87
7,Berlin,8,1626.0,£1.55,22.30%,80.6,39.41,1386,254,1729,£26.11,7.07
8,Barcelona,9,2591.0,£1.19,23.80%,82.2,65.19,1686,585,2344,£37.80,6.40
9,Vancouver,10,1938.0,£1.08,29.40%,81.7,24.26,1670,218,788,£31.04,7.23
10,Melbourne,11,2363.0,£1.57,29.00%,82.1,25.9,1712,243,813,£36.89,7.22
11,Beijing,12,2671.0,£0.26,6.20%,75.4,85.43,-,223,261,£38.62,5.12
12,Bangkok,13,2624.0,£0.22,10.00%,74.1,76.64,-,377,1796,£50.03,5.99
13,Buenos Aires,14,2525.0,£0.57,28.30%,75.9,52.64,-,246,1435,£22.45,5.97
14,Toronto,15,2066.0,£1.09,29.40%,81.7,37.83,1670,174,1656,£32.64,7.23
15,Madrid,16,2769.0,£1.30,23.80%,82.2,52.68,1686,216,2491,£34.54,6.40
16,Jakarta,17,2983.0,£0.21,6.90%,68.5,84.39,-,114,833,£29.94,5.28
17,Seoul,18,2066.0,£0.59,4.70%,81.3,57.82,1967,144,389,£43.03,5.87
18,Frankfurt,19,1662.0,£1.95,22.30%,80.6,37.78,1386,23,551,£39.01,7.07
20,Tel Aviv,21,3311.0,£1.63,26.10%,81.9,47.28,1898,139,420,£58.31,7.12
21,Istanbul,22,2218.0,£0.15,32.10%,74.7,69.49,1832,419,934,£16.97,5.13
22,Cairo,23,3542.0,£0.16,32.00%,70.7,91.74,-,323,250,£23.25,4.15
23,Taipei,24,1405.0,£0.57,6.20%,75.4,49.32,-,134,717,£34.76,5.12
24,Los Angeles,25,3254.0,£1.52,36.20%,78.8,66.07,1779,223,1439,£32.00,6.94
25,Mumbai,26,2584.0,£0.15,3.90%,67.3,82.84,-,187,1183,£19.54,3.57
26,Boston,27,2634.0,£1.39,36.20%,78.8,27.03,1779,88,588,£46.27,6.94
27,Dublin,28,1453.0,£1.40,25.30%,80.5,40.07,1772,159,659,£37.35,7.09
28,Tokyo,29,1877.0,£0.76,4.30%,83.2,42.84,1644,387,5802,£70.82,5.87
29,Chicago,30,2508.0,£1.20,36.20%,78.8,43.33,1779,171,1320,£41.14,6.94
30,Hong Kong,31,1836.0,£0.75,6.20%,75.4,67.46,-,277,1257,£57.95,5.51
31,Shanghai,32,1776.0,£0.29,6.20%,75.4,77.4,-,108,346,£44.68,5.12
32,Brussels,33,1546.0,£2.11,22.10%,80.4,62.67,1583,55,988,£25.34,6.86
33,San Francisco,34,3062.0,£1.60,36.20%,78.8,47.36,1779,242,1031,£65.13,6.94
34,Paris,35,1662.0,£1.95,21.60%,81.8,65.1,1505,331,4363,£35.93,6.66
35,Sao Paulo,36,2003.0,£0.44,22.10%,73.9,79.78,-,158,3355,£16.07,6.37
36,Zurich,37,1566.0,£3.20,19.50%,82.6,17.31,1557,69,538,£73.11,7.56
37,London,38,1633.0,£1.16,27.80%,80.4,58.91,1538,433,6417,£42.71,7.16
39,Milan,40,1915.0,£1.15,19.90%,82.7,67.19,1718,110,2396,£53.49,6.38
40,"Washington, D.C.",41,2528.0,£1.45,36.20%,78.8,39.18,1779,83,744,£65.99,6.94
41,New York,42,2535.0,£1.32,36.20%,78.8,57.36,1779,359,3081,£64.66,6.94
42,Moscow,43,1901.0,£0.41,23.10%,69.5,57.63,1965,322,3206,£31.40,5.54
43,Mexico City,44,2555.0,£0.45,28.90%,76.4,82.78,2137,192,1313,£41.99,6.46

In [ ]:
#Printing first 5 rows from dataset
print("First 5 rows of the dataset:")
df.head()

First 5 rows of the dataset:

,city,rank,sun_hours,water_bottle_price,obesity,life_expectation,pollution,yearly_working_hours,happiness_level,outdoor_activities,number_of_takeout_places,gym_cost
0,Amsterdam,1,1858.0,£1.92,20.40%,81.2,30.93,1434,422,1048,£34.90,7.44
1,Sydney,2,2636.0,£1.48,29.00%,82.1,26.86,1712,406,1103,£41.66,7.22
2,Vienna,3,1884.0,£1.94,20.10%,81.0,17.33,1501,132,1008,£25.74,7.29
3,Stockholm,4,1821.0,£1.72,20.60%,81.8,19.63,1452,129,598,£37.31,7.35
4,Copenhagen,5,1630.0,£2.19,19.70%,79.8,21.24,1380,154,523,£32.53,7.64

In [ ]:
#Printing last 5 rows from dataset
print("Last 5 rows of the dataset:")
df.tail()

Last 5 rows of the dataset:

,city,rank,sun_hours,water_bottle_price,obesity,life_expectation,pollution,yearly_working_hours,happiness_level,outdoor_activities,number_of_takeout_places,gym_cost
39,Milan,40,1915.0,£1.15,19.90%,82.7,67.19,1718,110,2396,£53.49,6.38
40,"Washington, D.C.",41,2528.0,£1.45,36.20%,78.8,39.18,1779,83,744,£65.99,6.94
41,New York,42,2535.0,£1.32,36.20%,78.8,57.36,1779,359,3081,£64.66,6.94
42,Moscow,43,1901.0,£0.41,23.10%,69.5,57.63,1965,322,3206,£31.40,5.54
43,Mexico City,44,2555.0,£0.45,28.90%,76.4,82.78,2137,192,1313,£41.99,6.46

In [ ]:
#Printing random 5 rows from dataset
print("Random 5 rows from the dataset:")
df.sample(5)

Random 5 rows from the dataset:

,city,rank,sun_hours,water_bottle_price,obesity,life_expectation,pollution,yearly_working_hours,happiness_level,outdoor_activities,number_of_takeout_places,gym_cost
39,Milan,40,1915.0,£1.15,19.90%,82.7,67.19,1718,110,2396,£53.49,6.38
27,Dublin,28,1453.0,£1.40,25.30%,80.5,40.07,1772,159,659,£37.35,7.09
34,Paris,35,1662.0,£1.95,21.60%,81.8,65.1,1505,331,4363,£35.93,6.66
3,Stockholm,4,1821.0,£1.72,20.60%,81.8,19.63,1452,129,598,£37.31,7.35
4,Copenhagen,5,1630.0,£2.19,19.70%,79.8,21.24,1380,154,523,£32.53,7.64

In [ ]:
#Showing dataset number of columns and rows
print("\nDataset shape (rows, columns):", df.shape)

Dataset shape (rows, columns): (42, 12)

In [ ]:
#Check data types of each column
print("\nData types of each column:")
print(df.dtypes)

Data types of each column:
city                         object
rank                          int64
sun_hours                   float64
water_bottle_price           object
obesity                      object
life_expectation            float64
pollution                    object
yearly_working_hours         object
happiness_level               int64
outdoor_activities            int64
number_of_takeout_places     object
gym_cost                    float64
dtype: object

In [ ]:
#Basic statistics of numeral columns
print("Descriptive statistics:")
df.describe()

Descriptive statistics:

,rank,sun_hours,life_expectation,happiness_level,outdoor_activities,gym_cost
count,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000
mean,22.166667,2224.952381,78.590476,218.500000,1489.547619,6.446905
std,12.889619,557.264309,4.145277,127.401468,1405.077052,0.966948
min,1.000000,1405.000000,67.300000,23.000000,250.000000,3.570000
25%,11.250000,1787.250000,75.525000,129.750000,590.500000,5.870000
50%,22.500000,2066.000000,80.400000,189.500000,1019.500000,6.900000
75%,32.750000,2615.750000,81.775000,310.750000,1710.750000,7.150000
max,44.000000,3542.000000,83.200000,585.000000,6417.000000,7.800000

In [ ]:
#A sample of 30 values from a uniform distribution from 0 to 9. Mean and Variance will be comuted.
sample = [ random.randint(0,9) for _ in range(30) ]
print(f"Sample: {sample}")
print(f"Mean = {np.mean(sample)}")
print(f"Variance = {np.var(sample)}")

Sample: [4, 7, 8, 5, 2, 6, 8, 0, 3, 5, 5, 4, 0, 3, 8, 1, 4, 6, 5, 9, 5, 7, 4, 1, 4, 3, 3, 0, 2, 9]
Mean = 4.366666666666666
Variance = 6.765555555555554

In [ ]:
df['Obesity levels (Country)'].describe()

KeyError: 'Obesity levels (Country)'

In [ ]:
#Visually estimating how many different values are there in the sample.
plt.hist(sample)
plt.show()

In [ ]:

print(list(df['Sunshine hours (City)'])[:20])

In [ ]:
#Writes for Sunshine hours the mean, variance and standard deviations
mean = df['Sunshine hours (City)'].mean()
var = df['Sunshine hours (City)'].var()
std = df['Sunshine hours (City)'].std()
print(f"Mean = {mean}\nVariance = {var}\nStandard Deviation = {std}")

In [ ]:
plt.figure(figsize=(20,10))

In [ ]:
print("Sunshine hours")
plt.figure(figsize=(10,2))
plt.boxplot(df['Sunshine hours (City)'], vert=False, showmeans=True)
plt.grid(color='gray', linestyle='dotted')
#plt.xticks(rotation='vertical')
plt.tight_layout()
plt.show()

In [ ]:
df.boxplot(column='Outdoor activities (City)', by='Happiness levels (Country)', figsize=(10,8))
plt.xticks(rotation='vertical')
plt.tight_layout()
plt.show

In [ ]:
#Visualise distribution of Outdoor Activities
plt.figure(figsize=(10,6))
sns.histplot(df['Outdoor activities (City)'], bins=30, kde=True)
plt.title('Distribution of Outdoor Activities')
plt.xlabel('Outdoor Activities (City)')
plt.ylabel('Obesity Level (City)')
plt.show()

In [ ]:
plt.subplot(1,3,2)
sns.histplot(df['Happiness levels (Country)'], bins=30, kde=True)
plt.title('Distribution of Happines Levels')
plt.xlabel('Obesity levels (Country)')
plt.ylabel('Happiness levels (Country)')
plt.show()

In [ ]:
# The correletion between Happiness level and Cities
sns.catplot(x="Happiness levels (Country)", y="City", kind="bar", data=df.nlargest(10, 'Happiness levels (Country)'));

In [ ]:
# Scatter and bar graphs of all numerical variable
sns.pairplot(df);

In [ ]:
# Correlation heatmap
numeric_df = df.select_dtypes(include=[np.number])
if numeric_df.shape[1] >= 4:
    plt.figure(figsize=(10, 8))
    corr = numeric_df.corr()
    sns.heatmap(corr, annot=True, cmap='coolwarm', fmt='.2f')
    plt.title('Correlation Heatmap of Numeric Features')
    plt.show()

In [ ]:
#sns.pairplot(df[columns].dropna())
#plt.show()

In [ ]:
# Scatter plot
plt.figure(figsize=(10,6))
sns.scatterplot(
    x="Cost of a monthly gym membership (City)",
    y="Number of take out places (City)",
    data=df,
    alpha=0.7
)

plt.title("Gym membership cost vs number of take out Places")
plt.xlabel("Cost of monthly gym membership (City)")
plt.ylabel("Number of take out places (City)")
plt.tight_layout()
plt.show()

In [ ]:
#Visualise distribution of Outdoor Activities
plt.figure(figsize=(10,6))
sns.histplot(df['Outdoor activities (City)'], bins=30, kde=True)
plt.title('Title')
plt.xlabel('Outdoor activities (City)')
plt.ylabel('Pollution (index score) (City)')
plt.show()

In [ ]:
#Visualise distribution of Outdoor Activities
plt.figure(figsize=(20,6))
sns.histplot(df['Obesity levels (Country)'], bins=30, kde=True)
plt.title('Title')
plt.xlabel('Obesity levels (Country)')
plt.ylabel('Outdoor activities (City)')
plt.show()

In [ ]:
plt.figure(figsize = (10,5))
plt.xlabel('Happiness')
plt.ylabel('Life Expectancy')
plt.title('Happiness and Life Expactancy Viz')
sns.scatterplot(data=df, x = 'Happiness levels (Country)', y = 'Life expectancy (years) (Country)')

In [ ]:
#Was ist verbessert?

#Kategorien statt Rohwerte → übersichtlicher.
#Durchschnittswerte → klare Aussage.
#Farbpalette & Beschriftungen → professioneller Look.
#Werte auf Balken → sofort verständlich.

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Beispiel-Daten (in deiner Anwendung: df = pd.read_csv('deine_datei.csv'))
data = {
    'Obesity levels (Country)': [15, 22, 35, 28, 42, 18, 33, 45, 20, 38],
    'Outdoor activities (City)': [80, 70, 50, 65, 40, 75, 55, 35, 72, 48]
}
df = pd.DataFrame(data)

# 1. Obesity Levels in Kategorien gruppieren
bins = [0, 20, 30, 40, 100]
labels = ['Niedrig', 'Mittel', 'Hoch', 'Sehr hoch']
df['Obesity_Group'] = pd.cut(df['Obesity levels (Country)'], bins=bins, labels=labels)

# 2. Durchschnittliche Outdoor-Aktivitäten pro Gruppe berechnen
grouped = df.groupby('Obesity_Group')['Outdoor activities (City)'].mean().reset_index()

# 3. Visualisierung
sns.set_theme(style="whitegrid")
plt.figure(figsize=(10,6))
sns.barplot(x='Obesity_Group', y='Outdoor activities (City)', data=grouped, palette='viridis')

# Titel und Achsenbeschriftungen
plt.title('Durchschnittliche Outdoor-Aktivitäten nach Adipositas-Kategorie', fontsize=16, fontweight='bold')
plt.xlabel('Adipositas-Kategorie', fontsize=14)
plt.ylabel('Ø Outdoor-Aktivitäten', fontsize=14)

# Werte auf den Balken anzeigen
for index, row in grouped.iterrows():
    plt.text(index, row['Outdoor activities (City)'] + 1, f"{row['Outdoor activities (City)']:.1f}",
             ha='center', fontsize=12, color='black')

plt.tight_layout()
plt.show()

In [ ]:
plt.figure(figsize = (10,5))
plt.xlabel('Happiness')
plt.ylabel('Life Expectancy')
plt.title('Happiness and Life Expactancy Viz')
sns.regplot(data=cleaned_hlc_data, x = 'Happiness levels(Country)', y = 'Life expectancy(years) (Country)')

In [ ]:
plt.figure(figsize = (10,5))
plt.xlabel('Happiness')
plt.ylabel('Annual avg. hours worked')
plt.title('Happiness and Hours Worked Viz')
sns.scatterplot(data=hours_hlc_data, x = 'Happiness levels(Country)', y = 'Annual avg. hours worked')

In [ ]:
plt.figure(figsize = (10,5))
plt.xlabel('Happiness')
plt.ylabel('Annual avg. hours worked')
plt.title('Happiness and Hours Worked Viz')
sns.regplot(data=hours_hlc_data, x = 'Happiness levels(Country)', y = 'Annual avg. hours worked')